@font-face {
  font-family: 'LXGWWenKai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: 
      url('/fonts/LXGWWenKai/LXGWWenKai.woff2') format('woff2'),
      url('/fonts/LXGWWenKai/LXGWWenKai.woff') format('woff');
}

body {
  font-family: 'LXGWWenKai', sans-serif;
}

code {
  font-family: 'LXGWWenKai', monospace;
}
